<md-content layout="column" layout-padding flex="noshrink">
    <h1>Our different tutorials:</h1>
    <p>
        Here lies the different categories our website offers. Pick one, see what's inside and then pick the tutorial of your choice!
    </p>
</md-content>
<md-content layout="row" flex="noshrink" class="backimg" layout-align="start center">
    <md-card class="md-whiteframe-5dp" ng-repeat="category in app.categories">
        <md-card-title layout-padding>
            <md-card-title-text>
                <span class="md-headline">{{ category.name | capitalize }}</span>
                <span class="md-subhead">{{ category.description }}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media">
                    <img ng-src="/img/category/{{ category.picture }}" alt="{{ category.name}}">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="center">
            <md-button ng-click="app.openBottomSheet(category.id)">
                More
                <md-icon>more_vert</md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
<md-content layout="row" layout-xs="column" flex="noshrink" layout-padding>
    <md-content flex="50" flex-xs="100" layout-padding layout="column" layout-align="center center">
        <h2>What can I do with this?</h2>
        <p>
            The tutorials are written by the members, and reviewed by our staff. Don't forget to take any needed security appliance, to avoid any accident.
            Don't throw yourself into something that would require you to put yourself in danger (we're looking at you table saw!)
        </p>
    </md-content>
    <md-content flex="50" flex-xs="100" layout-padding layout-align="center center" layout="column">
        <img src="img/warn.png" alt="warn" class="logo">
    </md-content>

</md-content>
