<md-bottom-sheet class="md-list md-has-header" ng-cloak>
    <md-subheader>Tutorials in this category</md-subheader>
    <md-list ng-if="cat_howtos.length > 0">
        <md-list-item ng-repeat="howto in cat_howtos">
            <md-button
                    ui-sref="howto({ id : howto.id})"
                    md-autofocus="$index == 2"
                    class="md-list-item-content" >
                <span class="md-inline-list-icon-label">{{ howto.name }}</span>
            </md-button>
        </md-list-item>
    </md-list>
    <p ng-if="cat_howtos.length == 0">
        No tutorials yet in this category :(
    </p>
    <p>
        And you can help out this category grow by posting a tutorial
        And you can help out this category grow by posting a tutorial
    </p>
    <md-button ui-sref="post" class="md-raised">
        Post
    </md-button>
</md-bottom-sheet>