<md-content  layout-padding layout="row" layout-xs="column" flex="noshrink" class="homeimg" layout-align="space-around center">
    <md-content layout="column" layout-align="center center" flex-xs="noshrink" class="transparent">
        <h1>Welcome to the hacklab_</h1>
        <p>
            A place where you can learn how to do things with your actual hands.
        </p>
    </md-content>
    <md-content layout="column" layout-align="center center" flex-xs="noshrink" class="transparent">
        <img src="img/logo.jpg" alt="logo" id="logo">
    </md-content>
</md-content>
<md-content layout="row" layout-xs="column" flex="noshrink"  layout="column" layout-align="space-around center" layout-padding>
    <md-content layout="column" layout-align="center center" class="transparent medal" flex-xs="100">
        <h1>Learn</h1>
        <img src="img/play.png" alt="medal">
        <p>
            With our easy to follow tutorials, learn to do a lot of things
        </p>
        <md-button ui-sref="category" class="md-raised">
            Check It Out
        </md-button>
    </md-content>
    <md-content layout="column" layout-align="center center" class="transparent medal" flex-xs="100">
        <h1>Gift</h1>
        <img src="img/gift.png" alt="medal">
        <p>
            Offer presents to people you like, without having to spend loads of money
        </p>
        <md-button ui-sref="category" class="md-raised">
            Check It Out
        </md-button>
    </md-content>
    <md-content layout="column" layout-align="center center" class="transparent medal" flex-xs="100">
        <h1>Contribute</h1>
        <img src="img/logo.jpg" alt="medal">
        <p>
            Make your knowledge more accessible to others by posting a tutorial
        </p>
        <md-button ui-sref="post" class="md-raised">
            Go Post
        </md-button>
    </md-content>
</md-content>
<md-content layout="column" flex="noshrink" layout-padding class="backimg" layout-align="center center">
    <h1>Our latest tutorials</h1>
    <p>
        Check out the latest we've got to offer.
    </p>
    <md-content layout="row" class="transparent">
        <md-card class="md-whiteframe-5dp" ng-repeat="howto in app.howtos">
            <md-card-title layout-padding>
                <md-card-title-text>
                    <span class="md-headline">{{ howto.name | capitalize }}</span>
                    <span class="md-subhead">{{ howto.description }}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img ng-src="/img/steps/{{howto.id}}-1.jpg" alt="{{ howto.name}}">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center">
                <md-button ui-sref="howto({id : howto.id})">
                    Go
                    <md-icon>add</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</md-content>