<md-content layout="row" layout-xs="column">
    <md-content flex="33" flex-xs="100" layout="column">
        <h1>{{ howto.howto.name | capitalize}}</h1>
        <p>{{ howto.howto.description }}</p>
        <md-list>
            <md-subheader>
                Comments on this step
            </md-subheader>
            <md-list-item ng-repeat="comment in howto.comments">
                <img src="img/avatar.jpg" alt="{{ comment.name }}" class="md-avatar">
                <div class="md-list-item-text">
                    <h3>{{ comment.name }}</h3>
                    <p>{{ comment.body }}</p>
                </div>
            </md-list-item>
        </md-list>
        <form layout="column">
            <md-input-container>
                <label>Your Name</label>
                <input type="text" ng-model="comment.name">
            </md-input-container>
            <md-input-container>
                <label>Your Comment</label>
                <textarea ng-model="comment.body"></textarea>
            </md-input-container>
            <md-button ng-click="howto.addCommentToStep(comment, howto.step)">Send</md-button>
        </form>
    </md-content>
    <md-content flex="66" flex-xs="100">
        <md-divider flex hide-gt-xs></md-divider>
        <md-card animate-on-change="{{ howto }}">
            <img src="/img/steps/{{ howto.step.picture }}" alt="{{ howto.step.name }}">
            <md-card-content>
                <h2>{{ howto.step.name }}</h2>
                <p>{{ howto.step.description }}</p>
            </md-card-content>
            <md-card-actions>
                <md-button class="md-button-icon" ng-if="howto.step.prev" ng-click="howto.prevStep( howto.step.id )">
                    <md-icon>skip_previous</md-icon>
                </md-button>
                <md-button class="md-button-icon" ng-if="howto.step.next" ng-click="howto.nextStep( howto.step.id )">
                    <md-icon>skip_next</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</md-content>
